body {
  background-color: var(--gray-2);
  margin: 0;
  padding-right: 0px !important;
  overflow: visible !important;
}
:root {
  --twitter: #328cd8;
  --brand-vibrant: #2794f5;
  --brand-black: #111111;
  --white: #fdfdfd;
  --accent-orange: #f39405;
  --accent-red: #de1717;
  --accent-green: #00b87c;
  --gray-1: #f9f9f9;
  --gray-2: #f2f2f2;
  --gray-3: #e8e8e8;
  --gray-4: #d6d6d6;
  --gray-5: #aaaaaa;
  --gray-6: #6a6a6a;
}

.splash {
  background-image: url("./splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex !important;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.main-container {
  background-color: var(--white);
  padding: 0px !important;
  border-radius: 12px 12px 0px 0px;
  height: calc(100vh - 24px);
}
.content-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 84.5px);
}
.content-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.link {
  font-family: Roboto;
  color: var(--brand-vibrant) !important;
}
.user-avatar-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}
.user-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* Header */
.header {
  justify-content: space-between;
}
.avatar {
  z-index: 100;
  cursor: pointer;
}
/* Topbar */
.topbar {
  display: flex;
  justify-content: center;
  margin: 10px !important;
  margin-top: 74px !important;
}
.topbar-item {
  cursor: pointer;
}
/* Login Page */
.login-container {
  gap: 40px;
  margin-top: 30% !important;
}
.btn-login {
  background-color: var(--twitter) !important;
}
.btn-guest {
  background-color: gray !important;
}
/* Home */
.home-bar {
  margin-top: 10px;
}
/* Sidebar */
.MuiDrawer-paper {
  border-left: none !important;
}
.sidebar {
  display: flex;
  justify-content: flex-end;
}
.sidebar-bar {
  padding: 2px 16px 14px 16px;
  background-color: var(--gray-2);
}
.sidebar-logo {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  margin-top: 24px;
}
.sidebar-list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-2);
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 4px;
}
.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 10px;
  cursor: pointer;
  width: auto;
}
.sidebar-item:hover {
  background-color: rgb(225, 217, 217) !important;
  border-radius: 20px;
}
.sidebar-selected-item {
  color: var(--brand-vibrant);
}
.svg-fill {
  fill: var(--brand-vibrant);
}
/* .Mui-selected {
  background-color: var(--twitter) !important;
  color: blue !important;
} */
.ask-btn-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.ask-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  color: var(--gray-2);
  width: 161px;
  height: 47px;
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.ask-btn:hover {
  opacity: 0.8;
}
.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  color: var(--gray-5);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-footer p {
  font-size: 10px;
}
.wallet-btn {
  cursor: pointer;
  padding: 12px 16px;
  max-width: 127px;
  background: var(--white);
  color: var(--brand-black);
  border-radius: 20px;
  border: 1px solid var(--brand-black);
}
.wallet-btn:hover {
  background-color: var(--gray-2);
}

/* Feed */
.feed-filter {
  padding: 12px 12px 12px 12px;
  border-radius: 12px 12px 0px 0px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.feed-card {
  cursor: pointer;
  background: var(--white);
  border-bottom: 1px solid var(--gray-3);
  box-shadow: none !important;
}
.feed-card:hover {
  background: var(--gray-1);
}
.feed-answer {
  cursor: pointer;
}
.feed-false {
  justify-content: space-between;
}
.feed-see-answer {
  justify-content: flex-end;
}
.feed-see-answer p {
  font-size: 16px;
}
.feed-timestamp {
  font-family: "Roboto Flex";
  display: flex;
  color: var(--gray-5);
  font-weight: 200;
  justify-content: flex-start;
  padding: 0 0 0 72px !important;
}
.feed-price {
  border: 1px solid var(--gray-3);
  padding: 6px 8px;
  border-radius: 16px;
  display: flex;
  gap: 6px;
}
.feed-purchase {
  cursor: pointer;
  margin-left: 8px !important;
}
.feed-purchase-link {
  margin-left: 2px !important;
}
.feed-link {
  cursor: pointer;
}
.feed-time-left {
  color: var(--accent-orange);
}
.feed-expired {
  color: var(--accent-red);
}
.feed-complete {
  color: var(--accent-green);
}
.question-answer-btn {
  padding: 4px 6px;
  background: var(--brand-black);
  color: var(--gray-2);
  border-radius: 16px;
  margin-left: 8px;
}
.question-answer-btn:hover {
  background-color: var(--gray-6);
}
.purchase-btn {
  padding: 4px 6px;
  background: var(--gray-3);
  color: var(--gray-5);
  border-radius: 16px;
  margin-left: 8px;
}
.backdrop-purchase {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1201;
}
/* Sensei */
.sensei-card:hover {
  background: var(--gray-1);
}
.sensei-header {
  padding-bottom: 0 !important;
}
.sensei-autocomplete {
  background-color: var(--gray-1);
}
.sensei-autocomplete-text div {
  border-radius: 12px !important;
  display: flex;
}
.autocomplete-avatar img {
  border-radius: 50%;
}
.sensei-autocomplete-input {
  display: flex;
  gap: 10px;
}

.filter-btn {
  padding: 12px 12px 12px 12px;
  border-radius: 12px 12px 0px 0px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.sensei-filter {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--gray-4);
  border-radius: 12px;
  min-width: 121px;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 12px !important;
  border: 1px solid #d6d6d6 !important;
  margin-top: 10px !important;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper ul {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.css-1hs5uid-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
.ask-sensei {
  padding: 8px 12px;
  background: var(--brand-black);
  color: var(--gray-2);
  border-radius: 16px;
}
.ask-sensei:hover {
  background: var(--gray-6);
}
.sensei-subtext span {
  color: var(--brand-black);
  font-weight: 600;
  font-size: 16px;
}
.sensei-subtext {
  color: var(--gray-6);
  font-weight: 400;
  font-size: 16px;
}
.sensei-description {
  margin-top: 8px !important;
  color: var(--brand-black);
}
/* Questions */
.withdraw {
  padding: 4px 6px;
  background: var(--brand-black);
  color: var(--gray-2);
  border-radius: 16px;
  margin-left: 8px;
}
.question-filter {
  padding: 12px 12px 12px 12px;
  border-radius: 12px 12px 0px 0px;
  /* background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
}

/* Questions Asked */
.qa-actions {
  justify-content: flex-end;
  margin-right: 5px !important;
}
.qa-actions-expired {
  justify-content: space-between;
  margin-right: 5px !important;
}
.qa-completed-header span {
  color: black;
}
/* Questions Answered */
.answered-actions {
  justify-content: space-between;
}
.answered-actions-backdrop {
  justify-content: flex-end;
}
/* .MuiTabs-flexContainer {
  margin-top: 10px;
} */
/* Ask Page */
.backdrop-ask {
  display: flex !important;
  flex-direction: column;
  gap: 25px;
  z-index: 1201 !important;
}
.askpage-card {
  min-width: 80%;
  max-width: 90%;
}
.askpage-paper {
  min-width: 80%;
}
.askpage-sensei {
  font-weight: 700;
}
.render-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Answer Question */
.answer-card {
  margin: 10px 0 20px 0;
  width: 80%;
}
.answer-card-full {
  margin: 10px 0 20px 0;
  width: 100%;
}
.answer-btn {
  margin-top: 20px !important;
}
/* Sensei Details */
.eavesdrop-btn {
  padding: 4px 6px;
  background: var(--brand-black);
  color: var(--gray-2);
  border-radius: 16px;
  margin-left: 8px;
}
.eavesdrop-btn:hover {
  background: var(--gray-6);
}
.sensei-details-input input {
  margin-left: 5px;
  padding: 0;
  -webkit-text-fill-color: black !important;
}
.sensei-details-twitter {
  color: var(--twitter);
}
/* Congratulations */
.congratulations {
  z-index: 3000;
  position: absolute;
  background-color: aliceblue;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.congratulations-paper {
  background-color: #328cd8;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.back-btn {
  z-index: 3001;
  margin-top: 30px !important;
  color: black !important;
  background-color: #0bb962 !important;
}
.back-btn:hover {
  background-color: #3cc781 !important;
}
/* Id */
.purchase-answer-id {
  display: flex;
  justify-content: center;
  background-color: rgb(189, 187, 187);
  border-radius: 20px;
  padding: 5px;
  opacity: 0.75;
}
.purchase-answer-id p {
  font-size: 1rem;
  color: black;
  font-weight: 800;
}
.purchase-answer-id a {
  margin-left: 2px;
}

/* Transaction History */
.table-container {
  border-radius: 12px 12px 0px 0px !important;
}
.css-1dm4zx6-MuiTableCell-root {
  padding: 8px !important;
}
.css-1ex1afd-MuiTableCell-root {
  padding: 8px !important;
}
.tx-sensei {
  display: flex !important;
  gap: 3px;
}
.tx-sensei img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.tx-link {
  color: var(--brand-vibrant) !important;
  text-decoration: underline !important;
}
.tx-link:hover {
  opacity: 0.8;
}
.tx-price {
  overflow: visible;
}
.tx-price p {
  font-size: 14px;
}
/* Access Error */
.access-error-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white) !important;
  border-radius: 32px !important;
  width: 380px;
  max-width: 80%;
}
.access-error-logo {
  display: flex;
  justify-content: center;
}
.access-error-text {
  font-size: 20px !important;
  text-align: center;
}
.access-error-btn {
  display: flex;
  justify-content: center;
}
.twitter-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  color: var(--gray-2);
  border-radius: 20px;
}
.twitter-btn p {
  font-size: 20px !important;
}

/* Ask Question */
.ask-question-container {
  background-color: var(--white) !important;
  border-radius: 20px !important;
  width: 560px;
  min-height: 371px;
  max-width: 90%;
}
.ask-question-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px !important;
  border-bottom: 1px solid var(--gray-3);
}
.ask-question-from {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ask-question-text {
  color: var(--gray-6);
}
.ask-question-autocomplete {
  width: 100%;
}
.ask-question-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.ask-question-body {
  width: 100%;
}
.ask-question-autocomplete-textfield div {
  border-radius: 20px !important;
  /* border: 1px solid var(--gray-3) !important; */
  background-color: var(--gray-1);
}
.ask-question-autocomplete-textfield label {
  color: var(--gray-5);
}
.ask-question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.answer-ask-btn-disabled {
  cursor: default;
  padding: 12px 30px;
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  color: var(--gray-2);
  border-radius: 20px;
  opacity: 0.5;
}
.answer-ask-btn {
  cursor: pointer;
  padding: 12px 30px;
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  color: var(--gray-2);
  border-radius: 20px;
}
.answer-ask-btn:hover {
  opacity: 0.8;
}
.ask-question-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 371px;
}
.ask-question-loader-text {
  padding: 24px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ask-question-backdrop {
  z-index: 2000;
}
.answer-question-question{
  padding-bottom: 20px !important;
}
.answer-question-body {
  padding-top: 20px !important;
}
.answer-question-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.submit-answer-btn {
  display: flex;
  cursor: pointer;
  padding: 16px 20px;
  color: var(--white);
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  border-radius: 20px;
}
.submit-answer-btn:hover {
  opacity: 0.8;
}
.submit-answer-btn-disabled {
  cursor: default;
  opacity: .5;
  display: flex;
  padding: 16px 20px;
  color: var(--white);
  background: linear-gradient(
    103.48deg,
    #62c6ff 2.78%,
    #207ce8 99.87%,
    #2271ce 99.87%
  );
  border-radius: 20px;
}
/* Sensei Details */
.sensei-details-header {
  padding: 16px 24px;
  font-size: 24px;
  font-family: "Roboto Flex";
  font-weight: 600;
  border-radius: 12px 12px 0px 0px;
  background-color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--gray-3);
}
.sensei-details-header-box {
  display: flex;
  align-items: center;
}
.sensei-details-header-box svg {
  cursor: pointer;
}
.sensei-details-body {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
}
.sensei-details-avatar {
  width: 96px !important;
  height: 96px !important;
}
.sensei-details-body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sensei-details-body-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.sensei-details-stats span {
  color: var(--brand-black);
  font-weight: 600;
}
.sensei-details-stats {
  color: var(--gray-6);
}
.sensei-details-fields {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.sensei-details-field {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50%;
  font-family: "Roboto Flex";
  font-size: 16px;
  padding: 8px 12px;
  background: var(--gray-1);
  border-bottom: 1px solid var(--gray-3);
}
.sensei-details-field2 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 50%;
  font-family: "Roboto Flex";
  font-size: 16px;
  padding: 8px 12px;
  background: var(--gray-1);
}
.sensei-details-filter {
  padding: 0px 12px 0px 12px;
}
.sensei-details-label {
  font-size: 20px !important;
  font-family: "Roboto" !important;
  /* color: var(--brand-black) !important; */
}
/* Question Landing Page */
.question-landing-card {
  cursor: default;
  background: var(--white);
  border-bottom: 1px solid var(--gray-3);
  box-shadow: none !important;
}
